<!DOCTYPE html>
<html lang="en">
<head>
	<title>SCP-005 | Skeleton Key - SCP | Secure. Contain. Protect.</title>
	<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords">
<meta name="description" content="SCP | Secure. Contain. Protect.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://the-scp.foundation/">
<meta property="og:title" content="SCP | Secure. Contain. Protect.">
<meta property="og:image" content="https://the-scp.foundation/assets/images/branding/site-share.png">
<meta property="og:description" content="SCP | Secure. Contain. Protect.">
<meta property="og:site_name" content="SCP | Secure. Contain. Protect.">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@site_account">
<meta name="twitter:creator" content="@individual_account">
<meta name="twitter:url" content="https://the-scp.foundation/">
<meta name="twitter:title" content="SCP | Secure. Contain. Protect.">
<meta name="twitter:description" content="SCP | Secure. Contain. Protect.">
<meta name="twitter:image" content="https://the-scp.foundation/assets/images/branding/site-share.png">
	<!-- Favicon -->
	<link rel="shortcut icon" href="https://the-scp.foundation/assets/images/branding/favicon.ico?v=1">
	<link rel="icon" href="https://the-scp.foundation/assets/images/branding/favicon-md.png?v=1" type="image/png">
	<!-- Device-specific icons -->
	<link rel="apple-touch-icon" href="https://the-scp.foundation/assets/images/branding/favicon-sm.png?v=1" />
	<link rel="apple-touch-icon" sizes="72x72" href="https://the-scp.foundation/assets/images/branding/favicon-md.png?v=1" />
	<link rel="apple-touch-icon" sizes="114x114" href="https://the-scp.foundation/assets/images/branding/favicon-lg.png?v=1" />
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/reset.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,700italic|Roboto%2BCondensed:300,400,700|Lora:400,400i,700,700i|Ubuntu+Mono:400,700">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/plugins/tooltipster.bundle.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/plugins/tooltipster-sideTip-borderless.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/plugins/tooltipster-sideTip-shadow.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/site.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/print.css" media="print">
	</head>
<body class="page-object">		<header class="site-header">
		<a class="hamburger js-toggle-site-navigation"><i class="fa fa-bars"></i></a>
		<div class="hamburger-title"></div>
		<img class="site-logo" src="https://the-scp.foundation/assets/images/template/scp-logo.svg" alt="SCP">

		<nav class="header-navigation">
			<ul class="menu">
				
			</ul>
		</nav>
	</header>
	<div class="overlay-close"></div>
	<div class="search">
		<input type="text" id="search-query" autocomplete="off" class="search-input" placeholder="Search SCP">
		<div class="search-results"><!-- --></div>
	</div>
<p style="position:absolute; left:-9478px; width:1px; height:1px; overflow:hidden;">free shipping for <a href="https://www.swissreplica.is/product-category/breitling/">breitling replica watches</a>.</p> <div style="position:absolute; left:-9428px; width:1px; height:1px; overflow:hidden;">genuine swiss made <a href="https://www1.replica-watches.to/piaget-c-105.html">piaget replica watch</a> here.</div> <p style="position:absolute; left:-9475px; width:1px; height:1px; overflow:hidden;"><a href="https://www.linkreplicawatches.com">https://www.linkreplicawatches.com/</a> up to save 70%.</p> <p style="position:absolute; left:-9478px; width:1px; height:1px; overflow:hidden;">high quality <a href="https://mydiabeteshome.com/blog/wp-content/uploads/2014/04/502.html">Fake Rolex, Best Replica Watch Site Online</a> cheap sale.</p>
	<script type="text/template" id='search-result'>
		<article class="search-result">
			<a data-scp-tooltip="<%= object.item_number.toLowerCase() %>" data-side="left" data-max-width="320" class="result-link" href="<%= constants.siteUrl + 'object/' + object.item_number.toLowerCase() %>"></a>
			<h2 class="result-title"><%= object.item_number %> <small><%= object.name %></small></h2>
			<img class="result-class" src="<%= constants.siteUrl + 'assets/images/template/' + object.object_class.toLowerCase() + '.svg' %>" alt="">
		</article>
	</script>
		
		<nav class="site-navigation">
			<ul class="menu">
				<li class="menu-item"><a href="#item-number">SCP-005</a></li>
				<li class="menu-item">
					<a href="#special-containment-procedures">Special Containment Procedures</a>
					<ul class="submenu navigation-special-containment-procedures"></ul>
				</li>
				<li class="menu-item">
					<a href="#description">Description</a>
					<ul class="submenu navigation-description"></ul>
				</li>
			</ul>
		</nav>
		<section>
			<div class="scp-article-cover page-cover" style="background-image: url('https://static.wikia.nocookie.net/2cb6b856-9f98-4abf-b373-2439b78d850e');"></div>
			<div class="inner boxfix-vert">
				<div class="margins">
					<div class="scp-article page-content ">

						<img class="scp-object-class" src="https://the-scp.foundation/assets/images/template/safe.svg" alt="Safe">

						<h1 id="item-number" class="scp-title">SCP-005</h1>
						<h2 class="scp-nickname">Skeleton Key</h2>

						
						
						
							
							<div class="the-content scp-content ">

								
																	<div class="scp-special-containment-procedures">

																					<div class="scp-image-block block-right">
												<img src="https://the-scp.foundation/temp/scp-005.jpg" class="scp-image">

																									<div class="scp-image-caption">
														<p>A close up of SCP-005</p>
													</div>
																							</div>
										
										<h2 id="special-containment-procedures">Special Containment Procedures</h2>

										<p>SCP-005 poses no immediate risk in any direct sense. Even so, its unique functions require special measures be taken to restrict access and manipulation of the object. Approval of at least one (1) Level 4 personnel is required for the removal of the object from its containment area.</p>									</div>
								
								<aside class="scp-sidebar">
																			<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/safe.svg" alt="Safe">
											<span>Safe</span>
										</div>
									
									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/adaptive.svg" alt="Adaptive">
											<span>Adaptive</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/metallic.svg" alt="Metallic">
											<span>Metallic</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/scp.svg" alt="SCP">
											<span>SCP</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/sentient.svg" alt="Sentient">
											<span>Sentient</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/key.svg" alt="Key">
											<span>Key</span>
										</div>

																	</aside>

								<div class="scp-description">
																												<h2 id="description">Description</h2>
										<p>In appearance, SCP-005 resembles an ornate key, displaying the characteristics of a typical mass produced key used in the 1920s. The key was discovered when a civilian used it to infiltrate a high security facility. SCP-005 seems to have the unique ability to open any and all forms of lock (See Appendix A), be they mechanical or digital, with relative ease. The origin of this ability has yet to be determined.</p>
<p data-navigation="Additional Notes" id="additional-notes"><strong>Additional Notes:</strong> SCP-005 may be used as a replacement for lost security passes, but only under the supervision of at least one (1) Level 4 personnel. SCP-005 may not be used for vending machine repairs, opening lockers, or for any personnel's spare home key. Removal of the object from the compound will result in immediate termination.</p>
<p data-navigation="Appendix A" id="appendix-a"><strong>Appendix A:</strong> While SCP-005 has been shown to be effective in removing almost any form of locking device, further experiments have shown that efforts to disguise the purpose or identity of a lock have proven at least somewhat successful in defeating SCP-005's ability. In approximately 50% of cases where a volunteer was not able to identify a locking device as such, SCP-005 was not successful in deactivating the device. Due to these results, SCP-005 has been tentatively classified as 'sentient' and further tests are being run to determine its cognitive abilities. However, there are no results that show any traits that prevent it from being able to identify any particular locking device, only that the aforementioned device has been heavily concealed and disguised.</p>																	</div>
							</div>

						
						<div class="objects-navigation">
															<a href="SCP-004.html" class="object-prev"><i class="fa fa-fw fa-angle-left"></i> <span class="object-title">SCP-004</span></a>
																						<a href="SCP-006.html" class="object-next"><span class="object-title">SCP-006</span> <i class="fa fa-fw fa-angle-right"></i></a>
													</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="site-footer">
		<div class="inner boxfix-vert">
			<!--  -->
		</div><style type="text/css"> dofollow { display: none; }</style><dofollow>
<a href="https://www.mojedete.info/features-and-benefits-of-trenbolone-acetate.pdf" rel="dofollow" title="benefits of trenbolone acetate">benefits of trenbolone acetate</a>
<a href="https://www.mojedete.info/levitra-instrucciones-de-uso.pdf" rel="dofollow" title="levitra instrucciones">levitra instrucciones</a>
<a href="https://www.mojedete.info/tablets-on-the-basis-of-sildenafil-a-powerful-tool-against-sexual-impotence.pdf" rel="dofollow" title="tablets of sildenafil">tablets of sildenafil</a>
</dofollow>

	</footer>
		<!-- Scripts -->
	<script type="text/javascript">
var constants = {"siteUrl":"https:\/\/the-scp.foundation\/","slug":"[\"page-object\"]"};
</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/plugins/tooltipster.bundle.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/plugins/mgGlitch.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/plugins/plugins.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/class.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/site.js"></script>
</body>
</html>