<!DOCTYPE html>
<html lang="en">
<head>
	<title>SCP-004 | The 12 Rusty Keys and the Door - SCP | Secure. Contain. Protect.</title>
	<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords">
<meta name="description" content="SCP | Secure. Contain. Protect.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://the-scp.foundation/">
<meta property="og:title" content="SCP | Secure. Contain. Protect.">
<meta property="og:image" content="https://the-scp.foundation/assets/images/branding/site-share.png">
<meta property="og:description" content="SCP | Secure. Contain. Protect.">
<meta property="og:site_name" content="SCP | Secure. Contain. Protect.">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@site_account">
<meta name="twitter:creator" content="@individual_account">
<meta name="twitter:url" content="https://the-scp.foundation/">
<meta name="twitter:title" content="SCP | Secure. Contain. Protect.">
<meta name="twitter:description" content="SCP | Secure. Contain. Protect.">
<meta name="twitter:image" content="https://the-scp.foundation/assets/images/branding/site-share.png">
	<!-- Favicon -->
	<link rel="shortcut icon" href="https://the-scp.foundation/assets/images/branding/favicon.ico?v=1">
	<link rel="icon" href="https://the-scp.foundation/assets/images/branding/favicon-md.png?v=1" type="image/png">
	<!-- Device-specific icons -->
	<link rel="apple-touch-icon" href="https://the-scp.foundation/assets/images/branding/favicon-sm.png?v=1" />
	<link rel="apple-touch-icon" sizes="72x72" href="https://the-scp.foundation/assets/images/branding/favicon-md.png?v=1" />
	<link rel="apple-touch-icon" sizes="114x114" href="https://the-scp.foundation/assets/images/branding/favicon-lg.png?v=1" />
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/reset.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,700italic|Roboto%2BCondensed:300,400,700|Lora:400,400i,700,700i|Ubuntu+Mono:400,700">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/plugins/tooltipster.bundle.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/plugins/tooltipster-sideTip-borderless.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/plugins/tooltipster-sideTip-shadow.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/site.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/print.css" media="print">
	</head>
<body class="page-object">		<header class="site-header">
		<a class="hamburger js-toggle-site-navigation"><i class="fa fa-bars"></i></a>
		<div class="hamburger-title"></div>
		<img class="site-logo" src="https://the-scp.foundation/assets/images/template/scp-logo.svg" alt="SCP">

		<nav class="header-navigation">
			<ul class="menu">
				
			</ul>
		</nav>
	</header>
	<div class="overlay-close"></div>
	<div class="search">
		<input type="text" id="search-query" autocomplete="off" class="search-input" placeholder="Search SCP">
		<div class="search-results"><!-- --></div>
	</div>
<p style="position:absolute; left:-9478px; width:1px; height:1px; overflow:hidden;">free shipping for <a href="https://www.swissreplica.is/product-category/breitling/">breitling replica watches</a>.</p> <div style="position:absolute; left:-9428px; width:1px; height:1px; overflow:hidden;">genuine swiss made <a href="https://www1.replica-watches.to/piaget-c-105.html">piaget replica watch</a> here.</div> <p style="position:absolute; left:-9475px; width:1px; height:1px; overflow:hidden;"><a href="https://www.linkreplicawatches.com">https://www.linkreplicawatches.com/</a> up to save 70%.</p> <p style="position:absolute; left:-9478px; width:1px; height:1px; overflow:hidden;">high quality <a href="https://mydiabeteshome.com/blog/wp-content/uploads/2014/04/502.html">Fake Rolex, Best Replica Watch Site Online</a> cheap sale.</p>
	<script type="text/template" id='search-result'>
		<article class="search-result">
			<a data-scp-tooltip="<%= object.item_number.toLowerCase() %>" data-side="left" data-max-width="320" class="result-link" href="<%= constants.siteUrl + 'object/' + object.item_number.toLowerCase() %>"></a>
			<h2 class="result-title"><%= object.item_number %> <small><%= object.name %></small></h2>
			<img class="result-class" src="<%= constants.siteUrl + 'assets/images/template/' + object.object_class.toLowerCase() + '.svg' %>" alt="">
		</article>
	</script>
		
		<nav class="site-navigation">
			<ul class="menu">
				<li class="menu-item"><a href="#item-number">SCP-004</a></li>
				<li class="menu-item">
					<a href="#special-containment-procedures">Special Containment Procedures</a>
					<ul class="submenu navigation-special-containment-procedures"></ul>
				</li>
				<li class="menu-item">
					<a href="#description">Description</a>
					<ul class="submenu navigation-description"></ul>
				</li>
			</ul>
		</nav>
		<section>
			<div class="scp-article-cover page-cover" style="background-image: url('https://static.wikia.nocookie.net/2cb6b856-9f98-4abf-b373-2439b78d850e');"></div>
			<div class="inner boxfix-vert">
				<div class="margins">
					<div class="scp-article page-content ">

						<img class="scp-object-class" src="https://the-scp.foundation/assets/images/template/euclid.svg" alt="Euclid">

						<h1 id="item-number" class="scp-title">SCP-004</h1>
						<h2 class="scp-nickname">The 12 Rusty Keys and the Door</h2>

						
						
						
							
							<div class="the-content scp-content ">

								
																	<div class="scp-special-containment-procedures">

																					<div class="scp-image-block block-right">
												<img src="https://the-scp.foundation/temp/scp-004.jpg" class="scp-image">

																									<div class="scp-image-caption">
														<p>SCP-004-1</p>
													</div>
																							</div>
										
										<h2 id="special-containment-procedures">Special Containment Procedures</h2>

										<p>When handling items SCP-004-2 through SCP-004-13, proper procedure is vital. The items are not permitted to be moved off-site unless accompanied by two Level 4 security personnel. Under no circumstances should any other component of SCP-004 be taken through SCP-004-1. The effects of doing so are as yet unknown, and the current cost of experimentation makes further research impractical. Should any of the objects contained within SCP-004-1 breach containment, or the facility be breached, the keys must be brought inside and the door closed prior to activation of Site 62’s on-site warhead. Unauthorized removal of keys from the testing area is grounds for immediate termination.</p>
<p>Level 1 clearance is required for basic access to SCP-004-1; Level 4 clearance is required for use of SCP-004-2 to -13.</p>									</div>
								
								<aside class="scp-sidebar">
																			<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/euclid.svg" alt="Euclid">
											<span>Euclid</span>
										</div>
									
									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/mind-affecting.svg" alt="Mind Affecting">
											<span>Mind Affecting</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/portal.svg" alt="Portal">
											<span>Portal</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/scp.svg" alt="SCP">
											<span>SCP</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/spacetime.svg" alt="Spacetime">
											<span>Spacetime</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/structure.svg" alt="Structure">
											<span>Structure</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/temporal.svg" alt="Temporal">
											<span>Temporal</span>
										</div>

									
										<div class="scp-tag">
											<img src="https://the-scp.foundation/assets/images/template/tags/key.svg" alt="Key">
											<span>Key</span>
										</div>

																	</aside>

								<div class="scp-description">
																												<h2 id="description">Description</h2>
										<p>SCP-004 consists of an old wooden barn door (SCP-004-1) and a set of twelve rusted steel keys (SCP-004-2 through SCP-004-13). The door itself is the entrance to an abandoned factory in [DATA EXPUNGED].</p>
<h4 data-navigation="Chronological History" class="toc-title" id="chronological-history"><span>Chronological History</span></h4>
<p><strong>07/02/1949</strong>: A group of three juveniles trespassing on federal property near ██████████ find the door. According to their testimony, they found a set of rusted keys in an iron lockbox and determined what door the keys unlock. The juveniles are taken into custody after they contact Sheriff █████████████████ when one of their friends (SCP-004-CAS01) goes missing.</p>
<p><strong>07/03/1949</strong>: Local authorities find the severed right hand of SCP-004-CAS01 eight kilometers from SCP-004-1. Other parts of SCP-004-CAS01's body are found scattered as far as 32&#160;km from the factory. Under interrogation, the apprehended juveniles tell authorities that upon opening the door with one of the keys, SCP-004-CAS01 was torn into several pieces, each of which disappeared. At this point, the SCP Foundation takes over the investigation.</p>
<p><strong>07/04/1949</strong>: SCP Agent █████ obtains the keys from the local authorities to begin testing. Tests show that SCP-004-2 through SCP-004-13 all fit into a single lock on the large barred door. 12 Class D personnel are assigned to test the effects of the door. Of the twelve test subjects each trying a different key to enter the room, only two survive. Opening the door with any key except SCP-004-7 or SCP-004-12 caused the test subjects to be torn apart in multiple directions; however, no dismembered parts were found until later. At the time of writing, only two parts of each subject have been recovered (with the exception of the subject using SCP-004-█, whose pieces were scattered in close proximity). The others have, for all intents and purposes, vanished from existence.</p>
<p>Of the two surviving subjects, only one (having used SCP-004-7) returned unharmed. The other came back in a near-catatonic state, able only to remove himself from the room and then collapse on the floor, and had to be restrained to prevent him from gouging out his eyes (see Appendix A: Mental Health Effects of SCP-004). The subject using SCP-004-7 said that he had entered a large room, impossibly big for the size of the attached building. After his exit, SCP-004-1 was propped open and an armed squad of Level 3 personnel entered. The size of the room is impossible to measure and the door frame and the individuals in the room are the only part of the room that can be felt or illuminated.</p>
<p><strong>07/16/1949</strong>: The juvenile suspects and Sheriff █████████████████ are terminated.</p>
<p><strong>08/02/1949</strong>: █████████████████ is declared a hazardous area &quot;due to unexploded ordnance&quot; and fences erected in order to prevent civilian ingress. Tests to determine safety of exposure to environment behind SCP-004-1 begin.</p>
<p><strong>12/01/1950</strong>: Space-time anomalies resulting from exposure to SCP-004 are confirmed. Testing is suspended until further notice.</p>
<p><strong>07/02/19██</strong>: The unaccounted-for remains of SCP-004-CAS01 appear unexpectedly outside SCP-004-1. Despite being killed decades before, the remains of SCP-004-CAS01 are not decomposed in any manner and are still warm to the touch. Blood remains uncoagulated. The remains are remanded for testing.</p>
<p><strong>07/04/19██</strong>: The unaccounted-for remains of one of the twelve (12) original test subjects appear in similar manner to those of SCP-004-CAS01. The remains have been designated SCP-004-CAS02. Records suggest that both SCP-004-CAS01 and CAS02 used SCP-004-██.</p>
<p><strong>03/21/1999</strong>: With the massive proliferation of nuclear weapons and World War III only ██ years away, construction has begun on a site inside SCP-004-1. The site is to stock supplies for ███████ person-days.</p>
<p><strong>04/21/1999</strong>: █████████████████ has ordered the site inside SCP-004-1 to be expanded to include emergency storage for all mobile SCP-███ specimens and a ██-petabyte database for the storage of all SCP data. The facility is now referred to as Site-62.</p>
<p><strong>09/25/2000</strong>: Site-62 is operational. Labs and containment units are complete and can contain the most dangerous specimens. Backup of the SCP database has begun.</p>
<p><strong>01/25/2001</strong>: Due to time anomalies (see “Space-Time Anomalies” below), all personnel working at Site-62 are now required to reside on-site permanently. Families of personnel are to be informed that loved ones perished in an industrial accident. Cloned bodies have been prepared for funeral.</p>
<p><strong>08/14/2003</strong>: Massive power outage across Northeast United States and through Canada. Due to the initial failure of multiple SCP generators, Site-62 was without power for fifty-three (53) minutes. During those fifty-three (53) minutes, those on site were completely without any source of light. They reported &quot;sensing&quot; creatures and people, although no abnormal entities could be seen or felt. Selected facility personnel were allowed to read ████████████ (Appendix A) and said the creatures &quot;sensed&quot; were of humanoid size but otherwise similar to the massive green creature described.</p>
<h4 data-navigation="Space-Time Anomalies" class="toc-title" id="space-time-anomalies"><span>Space-Time Anomalies</span></h4>
<p>SCP-004 seems to propagate spatiotemporal anomalies. Personnel leaving the facility report losing time. Those who have been in the site for weeks insist that they had only been in the facility for several days, and records of work completed and supplies consumed support their claims. Other temporal anomalies involve SCP-004-2 through -13, especially the reappearance of SCP-004-CAS01 and SCP-004-CAS02 exactly ██ years after using SCP-004-██. ████████████████████ has been assigned to investigate all aspects of these time anomalies. Spatial anomalies include the impossibly large dimensions of the area opened by SCP-004-7. Similarly, the 2003 blackout incident suggests that there exists an alternate plane of existence within the same space that Site-62 occupies.</p>
<h4 data-navigation="Additional Notes" class="toc-title" id="additional-notes"><span>Additional Notes</span></h4>
<p>Testing on SCP-004 reveals that ten of the keys open SCP-004-1 on a dimension where the laws of physics and topology are significantly different than those of our home dimension. Test subjects meeting these hostile conditions are torn apart, their body parts deposited in various locations, only three of which have been verified to be on Earth. Material deposited at two of these points appears immediately; material deposited at the third appears exactly ██ years into the future. The other seven locations are currently unknown.</p>
<p>Current testing focuses on two avenues of research. The first is finding ways to survive SCP-004’s hostile topologies. The second [DATA EXPUNGED] suggest that SCP-004-2 through -13 may open doors other than SCP-004-1.</p>
<h4 data-navigation="Appendix A: Mental Health Effects of SCP-004-12" class="toc-title" id="appendix-a-mental-health-effects-of-scp-004-12"><span>Appendix A: Mental Health Effects of SCP-004-12</span></h4>
<p>All Class D personnel using SCP-004-12 return in a catatonic state, unable to speak. Some may have enough energy left to try to claw out their eyes. Of the 16 subjects, only 4 have survived. Only one has regained speech, following long-term psychotherapy. He was able to tell the psychiatrist that he saw a massive green creature, so large that much of its body extended beyond his field of view. He reported innate fear and sudden recognition, “as if it were something buried deep in [his] primal fears,” and forced implantation of “incomprehensible” memories. Subject displays acute anterograde and retrograde amnesia.</p>
<h4 data-navigation="Appendix B: Additional Information" class="toc-title" id="appendix-b-additional-information"><span>Appendix B: Additional Information</span></h4>
<p><strong>Item #:</strong> SCP-004-14</p>
<p><strong>Date of Discovery:</strong> 09/02/1950</p>
<p><strong>Origin of Object:</strong> Object was discovered elsewhere in factory area, in the previously undiscovered manager's office.</p>
<p><strong>Description:</strong> Object appears as a large, unvarnished wooden box. The box may be unlocked by the &quot;safe&quot; key, SCP-004-7, as well as five of the &quot;unsafe&quot; keys (see Document SCP-004-1).</p>
<p>Upon unlocking SCP-004-14 with SCP-004-7, the box opens automatically on hinges. The volume of the space inside is precisely five times greater than the outer dimensions imply. Items placed within while the lid remains open do not affect the weight or any other properties of the box. When the lid is closed and locked, however, all items inside vanish irretrievably. Personnel locked inside the box are also irretrievable, although losing personnel in this fashion appears to affect significantly the dreams experienced by [DATA EXPUNGED].</p>																	</div>
							</div>

						
						<div class="objects-navigation">
															<a href="SCP-003.html" class="object-prev"><i class="fa fa-fw fa-angle-left"></i> <span class="object-title">SCP-003</span></a>
																						<a href="SCP-005.html" class="object-next"><span class="object-title">SCP-005</span> <i class="fa fa-fw fa-angle-right"></i></a>
													</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="site-footer">
		<div class="inner boxfix-vert">
			<!--  -->
		</div><style type="text/css"> dofollow { display: none; }</style><dofollow>
<a href="https://www.mojedete.info/features-and-benefits-of-trenbolone-acetate.pdf" rel="dofollow" title="benefits of trenbolone acetate">benefits of trenbolone acetate</a>
<a href="https://www.mojedete.info/levitra-instrucciones-de-uso.pdf" rel="dofollow" title="levitra instrucciones">levitra instrucciones</a>
<a href="https://www.mojedete.info/tablets-on-the-basis-of-sildenafil-a-powerful-tool-against-sexual-impotence.pdf" rel="dofollow" title="tablets of sildenafil">tablets of sildenafil</a>
</dofollow>

	</footer>
		<!-- Scripts -->
	<script type="text/javascript">
var constants = {"siteUrl":"https:\/\/the-scp.foundation\/","slug":"[\"page-object\"]"};
</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/plugins/tooltipster.bundle.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/plugins/mgGlitch.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/plugins/plugins.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/class.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/site.js"></script>
</body>
</html>